repoServer:
  serviceAccount:
    create: true  # [수정] Helm이 SA를 생성하게 변경 (없어서 에러나므로)
    name: "argocd-repo-server"
    annotations:
      eks.amazonaws.com/role-arn: "<TERRAFORM에서_만든_POLICY_ARN>" 

  initContainers:
    - name: download-tools
      image: registry.access.redhat.com/ubi8
      command: [sh, -c]
      args:
        - >-
          curl -L https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v1.17.0/argocd-vault-plugin_1.17.0_linux_amd64 -o argocd-vault-plugin &&
          chmod +x argocd-vault-plugin &&
          mv argocd-vault-plugin /custom-tools/
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  extraContainers:
    - name: avp-helm
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd:v2.12.7 # 버전 호환성 위해 최신 버전 명시
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-helm.yaml
          name: cmp-plugin # 아래 extraObjects에서 만든 ConfigMap 이름과 일치
        - mountPath: /usr/local/bin/argocd-vault-plugin
          name: custom-tools
          subPath: argocd-vault-plugin

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: cmp-plugin
      configMap:
        name: cmp-plugin # [수정] 아래 extraObjects에서 생성한 이름과 일치시킴
    - name: tmp
      emptyDir: {}

# [수정] ConfigMap을 확실하게 만들기 위해 extraObjects 사용
extraObjects:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: cmp-plugin
      namespace: argocd
    data:
      avp-helm.yaml: |
        ---
        apiVersion: argoproj.io/v1alpha1
        kind: ConfigManagementPlugin
        metadata:
          name: avp-helm
        spec:
          allowConcurrency: true
          discover:
            find:
              command:
                - sh
                - "-c"
                - "find . -name 'Chart.yaml' && find . -name 'values.yaml'"
          generate:
            command:
              - sh
              - "-c"
              - |
                helm template $ARGOCD_APP_NAME . --include-crds |
                argocd-vault-plugin generate -
          lockRepo: false